extends base

block content


  .apartments-area.bg-gray-color
   .container
    .row
      .col-md-12
        .heading-content-one.border
          h2.sub-title.default-text-gradient(style='font-family:Popping,sans-serif;')
            - let locationName = `Houses in ${houses[0].locationID.locationName}`
            = locationName
        // /.Apartments-heading-content
      // /.col-md-12
    // /.row
    .row#mainHouseContainer
      // start of item
    if houses  
     each house in houses 
      - let notBookedHouse = !house.isBooked 
      if notBookedHouse  
       .col-md-3.col-sm-6.col-xs-6.mainHouseItem
        .apartments-content
          .image-content
            a(href=`details/${house._id}`)
              img(src=`/img/houses/${house.pictures[0]}` alt=`${house.houseName}`)
          // /.image-content
          .text-content
            .top-content(style='padding:0px 20px')
              h3
                a(href=`details/${house._id}`)= house.houseName
              span
                i.fa.fa-map-marker
                - let name = `${house.locationID.locationName} , ${house.estateId.estateName}`;
                p(style='margin-bottom:0')= name
            // /.top-content
            .bottom-content.clearfix
              .meta-bed-room
                i.fa.fa-bed
                |  2 Beds
                house.numberOfBeds
              .meta-bath-room
                i.fa.fa-bath
                - let shower = house.bathShower ? 'has' : 'no';
                - let hasShower = `${shower} shower`;
                = hasShower 
              .meta-bed-room
                i.glyphicon.glyphicon-home
                - let tiles = house.tiledFloor ? 'has' : 'no';
                - let hasTiles = `${tiles} Tiles`;
                = hasTiles
              .meta-bath-room
                i.fa.fa-power-off
                - let tokens = house.powerAndWaterBill ? 'Tokens' : 'no Tokens';
                = tokens           
              span.clearfix
              - let houseprice = `KSH ${house.price}`
              .rent-price.pull-left= houseprice
              .share-meta.dropup.pull-right
                ul
                  li.dropup
                    a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                      i.fa.fa-share-alt
                    ul.dropdown-menu
                      li
                        a(href='#')
                          i.fa.fa-facebook
                      li
                        a(href='#')
                          i.fa.fa-twitter
                      li
                        a(href='#')
                          i.fa.fa-instagram
                      li
                        a(href='#')
                          i.fa.fa-google-plus
                  li
                    a(href='#')
                      i.fa.fa-star-o
            // /.bottom-content
          // /.text-content
        // /.partments-content
      // end of item
      // start of item
      
      .clearfix.hidden-md.hidden-lg
      //
        Use clear fix after two items
    // /.row
 

      
 
  .container
   .row
    // start of item
    .col-md-12.premium-house
      h3(style='font-family: Poppins, sans-serif ;font-weight: 600;opacity: .8;') Famous Location
      .col-md-4.col-sm-12.col-xs-12
       a( target= "_blank" href="/location/6142a35f56e03fa19c4e71bf")
        .gallery-left-content
          h2
            | Nyawitta  
            br
            | Area
      .col-md-4.col-sm-6.col-xs-12
       a(  target= "_blank" href="/location/6142a31e56e03fa19c4e71ba") 
        .gallery-left-content
          h2
            | Mabungo 
            br
            | Residence
      .col-md-4.col-sm-6.col-xs-12
       a(  target= "_blank" href="/location/6142a2ef56e03fa19c4e71b7")
        .gallery-left-content
          h2
            | Silwal 
            br
            | Estate
   .container
    .row
     .col-md-12
       .col-md-12.col-sm-5.col-xs-12
         a.button.nevy-button(href='/') Back Home
    br
    hr
    br      

             
          
   